body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 40px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
}

.button-container {
  text-align: center;
  margin-bottom: 8px;
  background: #e3f4ff;
}

button {
  display: inline-block;
  width: 120px;
  height: 60px;
  background: white;
  border: 1px solid #eee;
}